main section#form-city-list form{
    flex-direction: row;  
    gap: 5%;
}

main section#form-city-list form .flex-item select{
    padding: 5px;    
}

main #section-weather-result{
    margin-top: 17px;
}

main #section-weather-result .card{
    text-align: center;
}

main #section-weather-result .card{
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 25px;
    max-width: 270px;
}